body {
    margin: 0;
    padding: 0;
    background-image: url(images/background-2.png);
    background-size: cover;
}

ul {
    list-style: none;
}

.hide {
    display: none;
}

.header {
    width: 800px;
    height: 300px;
    background-color: #5b5d7275;
    margin: 5rem auto 2rem;
    border-radius: 10px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
    position: relative;
    transition: all 1s ease;
}

.header:hover {
    background-color: #5b5d72d3;

}

.profile {
    background-image: url(images/profile-picture.jpg);
    background-size: contain;
    position: absolute;
    top: 2rem;
    left: 6rem;
    width: 120px;
    height: 120px;
}

.header h2 {
    position: absolute;
    top: 4rem;
    left: 20rem;
    font-size: 3rem;
}

.header h1 {
    position: absolute;
    top: 11rem;
    left: 9rem;
    font-size: 4rem;
}

.languages {
    height: 200px;
    margin: 0 auto;
    text-align: center;
}

#fr {
    background-image: url(images/france.png);
    background-size: contain;
}

#en {
    background-image: url(images/usa.svg);
    background-size: cover;
    background-position: center;

}

#jp {
    background-image: url(images/flag-spain.png);
    background-position: center;
    background-size: cover;
}

.speak {
    display: inline-block;
    width: 200px;
    height: 200px;
    background-color: rgb(253, 253, 253);
    border: solid 1px lightgrey;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
    border-radius: 50%;
    margin: 0 2rem;
}

.lists {
    height: 600px;
    margin: 2rem auto 2rem;
    text-align: center;
}

.hobby {
    display: inline-block;
    width: 390px;
    height: 600px;
    background-color: #f6727f96;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
    margin: 0 20px 0 0;
    border-radius: 10px;
    position: relative;
    transition: all 1s ease;

}

.hobby:hover {
    background-color: #f6727fd3;
    
}

.hobby h2 {
    position: absolute;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);
}

.hobby ul {
    position: absolute;
    top: 10rem;
    text-align: left;
}

.hobby ul li {
    margin-top: 2rem;
}

.hobby ul li p {
    display: inline-block;
    margin-left: 2rem;
    font-size: 2rem;
}

.skills {
    display: inline-block;
    width: 390px;
    height: 600px;
    background-color: #a3f7bf86;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    position: relative;
    transition: all 1s ease;

}
.skills:hover {
    background-color: #a3f7bfd3;
    
}

.skills h2 {
    position: absolute;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);
}

.skills ul {
    position: absolute;
    top: 10rem;
    text-align: left;
}

.skills ul li {
    margin-top: 2rem;
}

.skills ul li p {
    display: inline-block;
    margin-left: 2rem;
    font-size: 2rem;
}

.contact {
    width: 800px;
    height: 200px;
    background-color: #b9cced80;
    margin: 0 auto 5rem;
    border-radius: 10px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
    position: relative;
    transition: all 1s ease;

}

.contact:hover {
    background-color: #b9ccedd3;
    
}

.contact ul {
    position: absolute;
    top: 1rem;
    text-align: left;
}

.contact ul li {
    margin-top: 1rem;
}

.contact ul li p {
    display: inline-block;
    margin-left: 2rem;
}

.contact-item {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 8rem;
}

.contact-item a {
    margin: 0 1rem;
}